#!/bin/sh

#  wwanHotspot
#
#  Wireless WAN Hotspot management application for OpenWrt routers.
#  $Revision: 2.2 $
#
#  Copyright (C) 2017-2020 Jordi Pujol <jordipujolp AT gmail DOT com>
#
#  This program is free software; you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation; either version 3, or (at your option)
#  any later version.
#
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with this program; if not, write to the Free Software
#  Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#************************************************************************

# Enable debug when string is not null.
# Log file is /var/log/wwanHotspot
# Set to "xtrace" to also log shell commands on /var/log/wwanHotspot.xtrace
#Debug=""

# Enable automatic scan when string is not null.
# Will automatically scan only when there are no active default routes.
# Must be set to "allways" for continously auto scan on every
#    SleepScanAuto interval (not recommended).
#ScanAuto="y"

# When wwan is already connected and the user requests an scan,
# wwanHotspot will look for another hotspot that gives a 
# most powerful signal.
# Set to "" to not re-scan when an scan request is received.
#ReScan="y"

# Default time interval to wait between scans, in seconds
#Sleep=20

# interval of time to wait when there are no active default routes
#SleepDsc=$((Sleep*3))

# when ScanAuto is "allways" wait more time between scans
#SleepScanAuto=$((Sleep*15))

# number of times that a connection to a hotspot must fail to
# blacklist it.
# Set to zero when hotspots should not be automatically blacklisted
# by connection failure.
# The blacklist status of every hotspot will be reset when
# configuration is reloaded.
#BlackList=3

# Number of seconds for a blacklisting to expire.
# Set to zero to never expire, until the daemon is restarted or the
# configuration reloaded.
#BlackListExpires=0

# Blacklist on limited or no network connectivity of a Hotspot.
# Set to zero when hotspots should not be automatically blacklisted
# by network failure.
#BlackListNetwork=3

# Number of seconds for a blacklisting to expire.
# Set to zero to never expire, until the daemon is restarted or the
# configuration reloaded.
#BlackListNetworkExpires=$((10*60))

# Number of seconds to wait for every ping response.
# The default for the ping command is 10. However more than 5 seconds
# is a really slow response. Values less than 3 are not recommended.
#PingWait=7

# Network traffic.
# Minimum network traffic in bytes per second to consider that a 
# connection is active.
# If traffic is detected then don't need to reach the network.
# Normally there is a little traffic due to connection control
# even when the network is unreliable.
# Set to 0 to not check network traffic.
#MinTrafficBps=1024

# keep old logs in /var/log instead of deleting them.
# LogRotate is the max number of log files to keep.
# Set to 0 to overwrite and not backup log files.
#LogRotate=3

# Auto update the report when this lapse of time is passed
# from last update. wwanHotspot will also trigger an update when the
# date/time is greatly increased by ntpd or any other utility.
# When enabled, all negative date/time increments will trigger a report
# update.
# ReportUpdtLapse is the time lapse in seconds.
# Minimum value must be much greater than SleepScanAuto.
# Set to 0 to disable report auto update
# and enable report update on new status messages.
#ReportUpdtLapse=$((6*SleepScanAuto))

# Connect to this list of networks.
#
# the values are taken from a manually configured connection issuing the
# following commands:
#    uci -q get wireless.@wifi-iface[1].ssid
#    uci -q get wireless.@wifi-iface[1].encryption
#    uci -q get wireless.@wifi-iface[1].key
#
# net_ssid is the real ssid
# net_encrypt is the encryption method
# net_key is the secret key
#
# net_hidden is an indicator or a value,
#    - false when unset or null string
#    - true when set to y
#    - the value that is listed by "iw wlan0 scan" instead of
#      the real ssid for a hotspot.
#
# net_blacklisted is an indicator
#    - false, when unset or null string
#    - true, when set to y wwanHotspot will not use this hotspot
#
# net_check is an IP address or an http URL;
# to verify the connection reliability of this hotspot, the router
# will ping this IP or connect to the WEB page URL.
# - leave it unset or null to not check routing,
# - an Internet IP
# - an URL of type http[s]://
#   in this case installation of the wget package is recommended,
#   otherwise an URL is properly checked when the STA interface is
#   the only one connected to the Internet.
# - a not valid IP will make wwanHotspot guess one. Then will ping the
# gateway for this network. In this case will not really check Internet's
# connection, it checks only the connection to the hotspot.
#
# When this list is empty wwanHotspot will use the currently configured
# ssid, importing the values from the router's setup into the config file.
# In this case, the variables "hidden", "blacklisted" and "check" are
# initially unset. However, you can modify this if you set the
# corresponding values for hotspot number one. i.e:
# net1_hidden="y"
# net1_check="https://www.google.com/favicon.ico"

# #net_ssid=""
# net_bssid="00:11:95:0a:2a:b7"
# net_encrypt="psk2"
# net_key="2sss3sd305s"
# #net_hidden=""
# net_check="8.8.8.8"
# #net_blacklisted=""
# AddHotspot
# 
# net_ssid="MYWLAN"
# net_bssid="12:34:56:78:9a:bc"
# net_encrypt="psk"
# net_key="3dfe465gh"
# net_hidden="y"
# net_check="https://www.google.com/favicon.ico"
# #net_blacklisted=""
# AddHotspot
# 
# # net_ssid="c11"
# # #net_bssid=""
# # net_encrypt="psk2"
# # net_key="adfaafadae"
# # #net_hidden=""
# # #net_check=""
# # #net_blacklisted=""
# # AddHotspot
# 
# net_ssid="DSLwireless"
# #net_bssid=""
# net_encrypt="wep"
# net_key="1234567890123"
# net_hidden="y"
# net_check="y"
# #net_blacklisted=""
# AddHotspot
# 
# #net_ssid=""
# net_bssid="ab:cd:ef:0a:2a:b7"
# net_encrypt="psk2"
# net_key="3027sxdsa2761"
# net_hidden="y"
# #net_check=""
# net_blacklisted="y"
# AddHotspot
