#!/bin/sh

#  wwanHotspot
#
#  Wireless WAN Hotspot management application for OpenWrt routers.
#  $Revision: 1.3 $
#
#  Copyright (C) 2017-2017 Jordi Pujol <jordipujolp AT gmail DOT com>
#
#  This program is free software; you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation; either version 3, or (at your option)
#  any later version.
#
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with this program; if not, write to the Free Software
#  Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#************************************************************************

# Enable debug when string is not null.
# Log file is /var/log/wwanHotspot
Debug=""

# Enable automatic scan when string is not null.
# Automatically scan when wan interface is down.
# Set to "allways" for continously auto scan (not recommended).
ScanAuto="y"

# Default time to wait between scans
Sleep=60

# when ScanAuto is "allways" wait more time between scans
SleepScanAuto="$(($Sleep*5))"

# Connect to this list of networks.
# An ssid with no name marks the end of the list.
# When this list is empty wwanHotspot will use the currently configured ssid.

net1_ssid="wifi1"
net1_encrypt="psk2"
net1_key="2sss3sd305s"

net2_ssid="MYWLAN"
net2_encrypt="psk"
net2_key="3dfe465gh"

net3_ssid="DSLwireless"
net3_encrypt="wep"
net3_key="1234567890123"

net4_ssid="cable"
net4_encrypt="psk2"
net4_key="3027sxdsa2761"

net5_ssid=""
net5_encrypt=""
net5_key=""

net6_ssid=""
net6_encrypt=""
net6_key=""
